h1{
    color:aquamarine;
    font-size:40px;
    text-align: center;
}
#p1{
    color:crimson;
    background-color: blueviolet;
}
#p2{
    color:indigo;
    background-color: darkred;
}
a{
    display:inline;
    color: white;
    background-color: darkcyan;
}